@import url(https://fonts.googleapis.com/css?family=Irish+Grover:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Urbanist:500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap);

html, body {
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar-wrapper-left, .main-container, .sidebar-wrapper-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar-wrapper-left, .sidebar-wrapper-right {
  width: 20%;
  background: radial-gradient(circle at 50% 50%, rgba(28, 15, 50, 1) 20%, rgb(21, 11, 34) 50%);
}

.sidebar-wrapper-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar-wrapper-right {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar-left, .sidebar-right {
  flex-grow: 1;
  background: linear-gradient(135deg, 
  rgba(130, 107, 158, 0.5) 0%, 
  rgba(130, 107, 158, 0.5) 20%, 
  rgba(46, 38, 56, 0.712) 80%, 
  rgba(46, 38, 56, 0.712) 100%);
  padding: 20px 0;
}

.sidebar-wrapper-left .sidebar-left {
  border-radius: 0 20px 20px 0;
}

.sidebar-wrapper-right .sidebar-right {
  border-radius: 20px 0 0 20px;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Irish Grover', Courier, monospace;
  font-size: 55px;
}
.logo-container p {
  margin: 0;
}
.sidebar-left-item{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
  font-weight: 500;
  color: white;
  font-size: 18px;
  text-transform: none;
  padding: 0;
  cursor: pointer;
}

.sidebar-left{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.main-container {
  margin-left: 300px; 
  margin-right: 300px; 
  padding: 20px; 
  overflow-y: auto;
  width: 60%;
  background: radial-gradient(circle at 50% 50%, rgba(28, 15, 50, 1) 20%, rgb(21, 11, 34) 50%);
}

.hero-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  overflow: hidden;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-input {
  font-family: "DM Sans";
  font-size: 18px;
  border-radius: 32px;
  border: none;
  width: 100%;
  padding: 10px 25px;
  background-color: #352E38;
  color: #8A7BAA;
}

.search-input:focus {
  box-shadow: 0 0 10px rgb(255 255 255);
}

/* Track */
.track-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.track {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.3);
  transition: transform 0.2s ease-in-out;
  border-radius: 30px;
  font-family: "Poppins";
  transition: transform 0.3s ease; 
}
.track:hover {
  transform: scale(1.02); 
}

.play-pause-button {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-right: 10px; 
}

.track-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.artist{
  color: rgb(150, 133, 173);
  font-weight: 400;
}
.track-controls {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.track.playing {
  background: linear-gradient(135deg, rgba(130, 107, 158, 0.5) 0%, rgba(130, 107, 158, 0.5) 20%, rgba(46, 38, 56, 0.712) 80%, rgba(46, 38, 56, 0.712) 100%);
  border: none;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.3);
}

.icon-button {
  color: white;
}

/* dropzone */
.dropzone{
  background: linear-gradient(135deg, rgba(130, 107, 158, 0.5) 0%, rgba(130, 107, 158, 0.5) 20%, rgba(46, 38, 56, 0.712) 80%, rgba(46, 38, 56, 0.712) 100%);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 5px 0 5px;
  text-align: center;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
}

/* Player */
.player {
  font-family: Poppins;
  background: linear-gradient(135deg, rgba(130, 107, 158, 0.5) 0%, rgba(130, 107, 158, 0.5) 20%, rgba(46, 38, 56, 0.712) 80%, rgba(46, 38, 56, 0.712) 100%);
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 320px;
  justify-content: space-around;
}

.track-id3 {
  text-align: center; 
  width: 75%; 
}

.player-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.player h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
.player h3 {
  color: #C8C8C8;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.input-duration {
  width: 70%;
  height: 5px; 
  appearance: none;
  outline: none; 
  opacity: 0.7; 
  transition: opacity 0.2s;
  border-radius: 5px;
  background: #3c2247;
}

.input-duration::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px; 
  height: 15px; 
  background: white; 
  cursor: pointer; 
  border-radius: 50%; 
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); 
}

.player-control {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin {
  animation: spin 4s linear infinite;
}

/* Volume button */

.volume-control-wrapper {
  display: flex;
  align-items: center;
  gap: 5px; 
  position: relative;
  display: inline-block;
}

.volume-button {
  cursor: pointer;
  display: flex;
}

.volume-control {
  position: absolute;
  bottom: 60px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-slider {
  transform: rotate(-90deg);
  width: 90px; 
  height: 5px; 
  appearance: none;
  outline: none; 
  opacity: 0.7; 
  transition: opacity 0.2s;
  border-radius: 5px;
  background: #3c2247;
}
.vertical-slider:hover {
  opacity: 1; 
}
.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px; 
  height: 15px; 
  background: white; 
  cursor: pointer; 
  border-radius: 50%; 
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); 
}

/* Playlists */
.playlist-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.playlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(147, 128, 173, 0.637);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease; 
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

.playlist:hover {
  transform: scale(1.02); 
}

/* Login */

header {
  display: flex;
  font-family: 'Poppins';
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  gap: 15px;
  margin-bottom: 20px;
}
.nick-container{
  font-size: 12px;
  color: rgb(150, 133, 173);
}

.create-playlist-dialog {
  background-color: rgb(117, 104, 134);
  color: white;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  width: 500px;
}

.create-playlist-dialog  h2{
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 20px;
}
.create-playlist-dialog  label{
  font-family: 'Poppins';
  font-size: 16px;
  color: #998cb9;
}
.create-playlist-dialog input{
  color: white;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 20px;
}

.create-playlist-dialog button{
  color: white;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 18px;
}
